<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ervinse.mapper.OperatorLogMapper">

    <!--    <resultMap id="BaseResultMap" type="OperatorLog">-->
    <!--        <result property="userId" column="user_id" jdbcType="INTEGER"/>-->
    <!--        <result property="type" column="type" jdbcType="VARCHAR"/>-->
    <!--        <result property="description" column="description" jdbcType="VARCHAR"/>-->
    <!--        <result property="url" column="url" jdbcType="VARCHAR"/>-->
    <!--        <result property="method" column="method" jdbcType="VARCHAR"/>-->
    <!--        <result property="classMethod" column="class_method" jdbcType="VARCHAR"/>-->
    <!--        <result property="ip" column="ip" jdbcType="VARCHAR"/>-->
    <!--        <result property="params" column="params" jdbcType="VARCHAR"/>-->
    <!--    </resultMap>-->


    <insert id="insertOne">
        INSERT INTO operator_log (user_id, type, description, url, method, class_method, ip, params, operator_time)
        VALUES (#{userId}, #{type}, #{description}, #{url}, #{method}, #{classMethod}, #{ip}, #{params},
                #{operatorTime})
    </insert>
</mapper>
