<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ervinse.mapper.OrderMapper">


    <sql id="Base_Column_List">
        OrderID
        ,LogisticsID,OrLogID,
        CommodityID,UserID,OrderTime,
        OrderPayState,OrderFullAmount
    </sql>
</mapper>
