<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ervinse.mapper.ShoppingcartCommodityMapper">


    <sql id="Base_Column_List">
        CommodityID
        ,ShoppingCartID,CommodityNum
    </sql>
    <update id="update">
        update shoppingcart_commodity
        set CommodityNum=#{commoditynum}
        where ShoppingCartID = #{shoppingcartid}
          and CommodityID = #{commodityid}
    </update>
    <select id="selectListByShoppingCartID" resultType="pers.ervinse.domain.vo.CommodityVo">
        select ci.*, sc.CommodityNum
        from shoppingcart_commodity sc
                 left join commodity_info ci on sc.CommodityID = ci.CommodityID
        where sc.ShoppingCartID = #{shoppingCartID}
    </select>

</mapper>
